.DS_Store
.idea
log
models
build
eval_results/
# Pytorch Models
*.pth
*.zip
*.json
jsons
output_onnx
# images
*.jpg
*.png
*.JPG
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*csv
# Jupyter Notebook
.ipynb_checkpoints
*ipynb
# pyenv
.python-version
images
