.DS_Store
.idea
log
models
build
eval_results/
# Pytorch Models
*.pth
*.zip
*.json
jsons
output_onnx
# images
*.jpg
*.png
*.JPG
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
images
